<div class="toolbar-spacer" [class.block]="scrolled" id="home"></div>

<mat-toolbar class="header" [class.fixed]="scrolled">
  <a href="https://github.com/ZeroaNinea" class="app-title">
    Heghine | Portfolio
  </a>

  <span class="spacer"></span>

  <nav class="desktop-nav">
    <button
      mat-button
      routerLink=""
      fragment="home"
      (click)="scrollToSection('home')"
    >
      Home
    </button>
    <button
      mat-button
      routerLink=""
      fragment="about"
      (click)="scrollToSection('about')"
    >
      About Me
    </button>
    <button
      mat-button
      routerLink=""
      fragment="tech-stack"
      (click)="scrollToSection('tech-stack')"
    >
      Tech Stack
    </button>
    <button
      mat-button
      routerLink=""
      fragment="projects"
      (click)="scrollToSection('projects')"
    >
      Projects
    </button>
    <button mat-button routerLink="" fragment="contacts">Contacts</button>
  </nav>

  <button mat-icon-button class="mobile-menu-btn" (click)="toggleMenu()">
    <mat-icon>{{ menuOpen ? "close" : "menu" }}</mat-icon>
  </button>
</mat-toolbar>

<nav class="mobile-nav" [class.open]="menuOpen" [class.fixed]="scrolled">
  <button
    mat-button
    (click)="toggleMenu('home', 200)"
    routerLink=""
    fragment="home"
  >
    Home
  </button>
  <button
    mat-button
    (click)="toggleMenu('about', 200)"
    routerLink=""
    fragment="about"
  >
    About Me
  </button>
  <button
    mat-button
    (click)="toggleMenu('tech-stack', 200)"
    routerLink=""
    fragment="tech-stack"
  >
    Tech Stack
  </button>
  <button
    mat-button
    (click)="toggleMenu('projects', 200)"
    routerLink=""
    fragment="projects"
  >
    Projects
  </button>
  <button mat-button (click)="toggleMenu()" routerLink="" fragment="contacts">
    Contacts
  </button>
</nav>
