@use "@angular/material" as mat;

.app-title {
  font-weight: bold;
  font-size: 1.2rem;

  color: var(--mat-sys-inverse-surface);
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.mobile-menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-menu-btn {
    display: inline-flex;
  }
}

.mobile-nav {
  display: none;
  flex-direction: column;
  background: var(--mat-sys-background);
  padding: 1rem;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);

  button {
    text-align: left;
    width: 100%;
  }

  &.open {
    display: flex;
    animation: fadeIn 0.2s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
