@use "@angular/material" as mat;

.fixed {
  position: fixed;
  top: 0;
  animation: fixing 0.5s linear;
}

.toolbar-spacer {
  height: 64px;
  display: none;

  &.block {
    display: block;
  }
}

.app-title {
  font-weight: bold;
  font-size: 1.2rem;

  color: var(--mat-sys-inverse-surface);
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.mobile-menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .mobile-menu-btn {
    display: inline-flex;
  }
}

.mobile-nav {
  height: 0;
  flex-direction: column;
  background: var(--mat-sys-background);
  padding: 0;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
  opacity: 90%;
  pointer-events: none;

  transition: all 0.2s ease-in-out;

  button {
    display: none;
    text-align: left;
    width: 100%;
    border-radius: 0;

    @include mat.theme(
      (
        color: mat.$orange-palette,
      )
    );
  }

  &.open {
    display: flex;
    height: 200px;
    pointer-events: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    button {
      display: block;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

@keyframes fixing {
  from {
    filter: blur(0.6px);
    transform: translateY(-30%);
  }
  to {
    filter: blur(0px);
    transform: translateY(0);
  }
}

// M3 GTS
