<mat-toolbar class="header">
  <a href="https://github.com/ZeroaNinea" class="app-title">
    Heghine | Portfolio
  </a>

  <span class="spacer"></span>

  <nav class="desktop-nav">
    <button mat-button routerLink="" fragment="about">Home</button>
    <button
      mat-button
      routerLink=""
      fragment="about"
      (click)="scrollToSection('about')"
    >
      About Me
    </button>
    <button mat-button routerLink="" fragment="tech-stack">Tech Stack</button>
    <button mat-button routerLink="" fragment="projects">Projects</button>
    <button mat-button routerLink="" fragment="contacts">Contacts</button>
  </nav>

  <button mat-icon-button class="mobile-menu-btn" (click)="toggleMenu()">
    <mat-icon>{{ menuOpen ? "close" : "menu" }}</mat-icon>
  </button>
</mat-toolbar>

<nav class="mobile-nav" [class.open]="menuOpen">
  <button mat-button (click)="toggleMenu()" routerLink="">Home</button>
  <button
    mat-button
    (click)="toggleMenu('about', 200)"
    routerLink=""
    fragment="about"
  >
    About Me
  </button>
  <button mat-button (click)="toggleMenu()" routerLink="" fragment="tech-stack">
    Tech Stack
  </button>
  <button mat-button (click)="toggleMenu()" routerLink="" fragment="projects">
    Projects
  </button>
  <button mat-button (click)="toggleMenu()" routerLink="" fragment="contacts">
    Contacts
  </button>
</nav>
