@use "@angular/material" as mat;

.app-title {
  font-weight: bold;
  font-size: 1.2rem;

  color: var(--mat-sys-inverse-surface);
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.spacer {
  flex: 1 1 auto;
}
