<section class="about">
  <h2 class="typewriter">About Me</h2>

  <div>
    @if (isBrowser) {
    <app-geometric-shape></app-geometric-shape>
    }

    <p>
      I'm a passionate full-stack web developer with a strong background in
      building modern, scalable applications. Using Angular, Node.js, and
      cloud-native tools like Docker and Kubernetes, I create performant and
      reliable solutions that meet both technical and business needs. My
      expertise spans from frontend development with Angular and RxJS to backend
      APIs with Express and Nest.js. With experience in testing, CI/CD
      pipelines, and performance optimization, I deliver clean, maintainable
      code that brings ideas to life. Whether it's crafting interactive UIs or
      deploying resilient services, I aim to turn complex problems into simple,
      elegant solutions. By the way: "car 👍"...
    </p>
  </div>
  <model-viewer
    src="./assets/3d-models/bmw_m3_gts_e92.glb"
    alt="BMW M3 GTS"
    auto-rotate
    camera-controls
    shadow-intensity="0.8"
    style="width: 100%; max-width: 600px; height: 400px; border-radius: 1rem"
  >
  </model-viewer>
  <span class="attribution"
    >&#169; 3D model of BMW M3 GTS by
    <a
      href="https://sketchfab.com/3d-models/bmw-m3-gts-e92-034f2fdd761342dca3c5400a190eb3d5"
      >Mona x Supercars</a
    >
    via CC BY.</span
  >
</section>
