<section #contacts class="contacts">
  <h2 class="section-title">Contacts</h2>
  <div class="contact-links">
    <!-- <div
      matRipple
      (click)="openLink('https://github.com/ZeroaNinea')"
      class="contact-link"
    >
      <img src="./assets/contact-icons/github.svg" alt="GitHub" />
    </div>

    <div
      matRipple
      (click)="openLink('mailto:your.email@example.com')"
      class="contact-link"
    >
      <img src="assets/contact-icons/gmail.svg" alt="Gmail" />
    </div> -->
    <button
      matButton="outlined"
      (click)="openLink('https://github.com/ZeroaNinea')"
      class="contact-link"
    >
      <img src="./assets/contact-icons/github.svg" alt="GitHub" />
    </button>

    <button
      matButton="outlined"
      (click)="openLink('mailto:your.email@example.com')"
      class="contact-link"
    >
      <img src="./assets/contact-icons/gmail.svg" alt="Gmail" />
    </button>
  </div>
</section>
