<section #contacts class="contacts">
  <h2 class="section-title">Contacts</h2>
  <div class="contact-links">
    @for (contact of contactList; track $index) {
      <button
        matButton="outlined"
        (click)="openLink(contact.link)"
        class="contact-link"
      >
        <img [src]="contact.icon" [alt]="contact.alt" />
      </button>
    }
  </div>
  <div class="copyright">
    <p>
      &copy; this website created by ZeroaNinea {{ date().getFullYear() }} |
      license: MIT
    </p>
  </div>
</section>
