@media (max-width: 768px) {
  .hero-text {
    font-size: 2rem;
  }
  .hero-subtext {
    font-size: 1rem;
  }

  .hero-container {
    height: 100vh;
  }
}

@media (max-height: 412px) {
  .hero-container {
    height: 84vh !important;
  }
}

@media (min-height: 760px) {
  .hero-container {
    height: 92.5vh !important;
  }
}

@media (min-height: 812px) {
  .hero-container {
    height: 90vh !important;
  }
}

@media (min-height: 854px) {
  .hero-container {
    height: 94vh !important;
  }
}

@media (min-height: 915px) {
  .hero-container {
    height: 94vh !important;
  }
}

@media (max-width: 1280px) {
  .hero-container {
    height: 95vh !important;
  }
}

@media (min-height: 1080px) {
  .hero-container {
    height: 94vh !important;
  }
}

@media (max-height: 667px) {
  .hero-container {
    height: 92vh !important;
  }
}
