<div class="hero-container">
  <div class="particles">
    <div class="top-down-infinite">
      <div class="fade-right">
        <div class="triangle-container-0">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-left-wide">
        <div class="triangle-container-1">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-down">
        <div class="triangle-container-2">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-down">
        <div class="triangle-container-3">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-right-wide">
        <div class="triangle-container-4">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-left">
        <div class="triangle-container-5">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-right">
        <div class="triangle-container-6">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
      <div class="fade-right">
        <div class="triangle-container-7">
          <div class="triangle">
            <div class="inner-triangle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="hero-text">
    <span class="animate-text">Hi, I'm <span class="name">Heghine.</span></span>
  </h1>
  <h2 class="hero-subtext">
    <span class="animate-text-delay">Full-stack web developer.</span>
  </h2>
  <div class="scroll-down" (click)="scrollToAbout()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</div>
