@use "@angular/material" as mat;

.hero-container {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.top-down-infinite {
  animation: top-down-infinite 30s linear infinite;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: -1;
}

.fade-up {
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
}

.fade-down {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 1s forwards;
}

.fade-right-wide {
  opacity: 0;
  transform: translateX(-70px);
  animation: fadeLeft 1s forwards;
}

.fade-left-wide {
  opacity: 0.2;
  transform: translateX(50px);
  animation: fadeLeft 1s forwards;
}

.fade-left {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeLeft 1s forwards;
}

.fade-right {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeRight 1s forwards;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  color: var(--mat-sys-outline);
  cursor: pointer;
  animation: bounce 2s infinite;

  mat-icon {
    font-size: 1.9rem;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}

.hero-text {
  font-family: "Poppins", system-ui;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;

  .name {
    background: linear-gradient(90deg, #ff6ec4, #7873f5, #4ade80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.hero-subtext {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  color: var(--mat-sys-outline);
}

.animate-text {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
}

.animate-text-delay {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
  animation-delay: 0.8s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes top-down-infinite {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
