@media (max-width: 768px) {
  .triangle-container-0 {
    top: 25rem;
  }

  .triangle-container-1 {
    left: -5rem;
  }

  .triangle-container-5 {
    top: 30rem;
    right: -1rem;

    .triangle {
      .inner-triangle {
        left: -15px;
      }
    }
  }

  .triangle-container-7 {
    top: 55rem;
  }

  .triangle-container-8 {
    top: 40rem;
  }
}
