@media (max-width: 768px) {
  .projects {
    .section-title {
      font-size: 1.5rem;
    }
  }
}

@media ((max-height: 600px) and (orientation: landscape)) {
  .project-item-list {
    display: flex;
    flex-direction: row;

    .project-item {
      width: 40%;
    }
  }
}
