<section #techStack class="tech-stack">
  <h2 class="section-title">Tech Stack</h2>

  <div class="stack-grid">
    <div matRipple [matRippleTrigger]="angular" class="ripple">
      <div #angular class="stack-card">
        <img
          src="./assets/icons/angular.svg"
          alt="Angular"
          class="stack-icon"
        />
        <p>Angular</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="node" class="ripple">
      <div #node class="stack-card">
        <img src="./assets/icons/node.svg" alt="Node.js" class="stack-icon" />
        <p>Node.js</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="redis" class="ripple">
      <div #redis class="stack-card">
        <img src="./assets/icons/redis.svg" alt="Redis" class="stack-icon" />
        <p>Redis</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="mongodb" class="ripple">
      <div #mongodb class="stack-card">
        <img
          src="./assets/icons/mongodb.svg"
          alt="Mongo DB"
          class="stack-icon"
        />
        <p>Mongo DB</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="sequelize" class="ripple">
      <div #sequelize class="stack-card">
        <img
          src="./assets/icons/sequelize.svg"
          alt="Sequelize"
          class="stack-icon"
        />
        <p>Sequelize</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="ngrx" class="ripple">
      <div #ngrx class="stack-card">
        <img src="./assets/icons/ngrx.svg" alt="NgRx" class="stack-icon" />
        <p>NgRx</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="rxjs" class="ripple">
      <div #rxjs class="stack-card">
        <img src="./assets/icons/rxjs.svg" alt="RxJS" class="stack-icon" />
        <p>RxJS</p>
      </div>
    </div>

    <div matRipple [matRippleTrigger]="socketio" class="ripple">
      <div #socketio class="stack-card">
        <img
          src="./assets/icons/socketio.svg"
          alt="Socket.io"
          class="stack-icon"
        />
        <p>Socket.io</p>
      </div>
    </div>
  </div>
</section>
