.tech-stack {
  padding: 4rem 2rem;
  text-align: center;
  min-height: 100vh;
  min-height: 100dvh;
  opacity: 0;

  .section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--mat-sys-primary);
  }

  mat-drawer {
    display: flex;
    flex-direction: column;

    .tabs {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;

      .tab-indicator {
        position: absolute;
        left: 0;
        top: 0;

        width: 4px;
        height: calc(100% / 6);

        background: var(--mat-sys-primary);
        border-radius: 2px;

        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

        z-index: 1;
      }

      button {
        flex: 1 1 0;
        border-radius: 0;
      }

      button.active {
        color: var(--mat-sys-primary);
        background-color: var(--mat-sys-secondary-container);
        font-weight: 600;
      }
    }
  }

  .drawer-content {
    overflow: hidden;
    margin: 0;
    padding: 0;

    height: 60vh;
    height: 60dvh;

    .tab-view-point {
      height: 100%;
      display: flex;
      flex-direction: column;

      transition: transform 0.3s ease-in-out;

      .stack-grid {
        flex: 0 0 100%;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 1rem;
        justify-items: center;

        padding: 1rem;
        box-sizing: border-box;

        .ripple {
          border-radius: 0.75rem;
          block-size: fit-content;

          transition:
            background-color 0.1s ease-in-out,
            transform 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;

          .stack-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border-radius: 0.75rem;
            background: var(--mat-sys-secondary-container);
            color: var(--mat-sys-on-background);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            cursor: grab;

            transition:
              background-color 0.1s ease-in-out,
              transform 0.1s ease-in-out,
              box-shadow 0.1s ease-in-out;

            .stack-icon {
              width: 48px;
              height: 48px;
              margin-bottom: 0.5rem;
              user-select: none;
            }

            p {
              margin: 0;
              font-weight: 500;
              user-select: none;
            }
          }

          &:hover {
            transform: scale(1.05);
            box-shadow:
              0 1px 1px rgba(0, 0, 0, 0.1),
              0 -2px 8px rgba(0, 0, 0, 0.1),
              2px 0 8px rgba(0, 0, 0, 0.1),
              -2px 0 8px rgba(0, 0, 0, 0.1);

            .stack-card {
              background-color: var(--mat-sys-secondary-fixed-dim);
            }
          }
        }
      }
    }
  }
}

.cdk-drag-preview {
  position: relative;
  box-sizing: border-box;
  border-radius: 0.75rem;
  background-color: var(--mat-sys-secondary-container);
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.7;

  img {
    width: 55%;
    height: 55%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    display: none;
  }
}

.cdk-drag-placeholder {
  background: var(--mat-sys-secondary-container);
  border: 2px dashed var(--mat-sys-primary);
  border-radius: 0.75rem;
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
