.tech-stack {
  padding: 4rem 2rem;
  text-align: center;
  min-height: 100dvh;

  .section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--mat-sys-primary);
  }

  .stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    justify-items: center;
  }

  .stack-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.75rem;
    background: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-background);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    user-select: none;

    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out,
      box-shadow 0.1s ease-in-out;

    .stack-icon {
      width: 48px;
      height: 48px;
      margin-bottom: 0.5rem;
    }

    p {
      margin: 0;
      font-weight: 500;
      cursor: default;
    }

    &:hover {
      background-color: var(--mat-sys-secondary-fixed-dim);
      transform: scale(1.05);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1), 0 -2px 8px rgba(0, 0, 0, 0.1),
        2px 0 8px rgba(0, 0, 0, 0.1), -2px 0 8px rgba(0, 0, 0, 0.1);
    }
  }
}
