@media ((max-height: 760px)) {
  .drawer-content {
    height: 200vh !important;
    height: 200dvh !important;
  }
}

@media (max-width: 768px) {
  .tech-stack {
    .section-title {
      font-size: 1.5rem;
    }

    .stack-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .ripple {
      .stack-card {
        .stack-icon {
          width: 22px;
          height: 22px;
        }

        p {
          font-size: 0.75rem;
        }
      }
    }

    .drawer-content {
      height: 100vh !important;
      height: 100dvh !important;
    }
  }
}

@media (max-width: 915px) {
  .tech-stack {
    min-height: 90vh;
    min-height: 90dvh;

    .section-title {
      font-size: 1.5rem;
    }

    .stack-grid {
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .ripple {
      .stack-card {
        .stack-icon {
          width: 22px;
          height: 22px;
        }

        p {
          font-size: 0.75rem;
        }
      }
    }
  }

  .drawer-content {
    height: 100vh !important;
    height: 100dvh !important;
  }
}
