@media (max-width: 768px) {
  .cube-wrapper {
    width: 100px;
  }
}

@media ((max-height: 600px) and (orientation: landscape)) {
  .cube-wrapper {
    flex-direction: row;
    min-width: 225px;
  }
}
