@use "@angular/material" as mat;

.shape-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.car-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.shape-container:hover .car-btn {
  opacity: 1;
}

.background-lighting {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle,
    rgba(114, 152, 196, 1) 0%,
    rgba(237, 166, 215, 1) 74%,
    rgba(46, 230, 165, 1) 100%
  );
  box-shadow: 0px 0px 150px 120px rgba(114, 152, 196, 1);
  opacity: 0.5;
  pointer-events: none;
  border-radius: 500px;

  transition: box-shadow 1s ease;
}

.shape-container:hover .background-lighting {
  box-shadow: 0px 0px 150px 120px rgba(237, 166, 215, 1);
}
