@use "@angular/material" as mat;
@use "./styles/colors.scss" as *;

html,
body {
  height: 100%;
}

html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
}

.dark-theme {
  background-color: var(--mat-sys-background);

  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
    )
  );
}
