@use "@angular/material" as mat;

@use "./styles/colors.scss" as *;
@use "./themes/light-blue_theme-colors.scss" as blue-light;

html,
body {
  height: 100%;
}

html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
}

.light-theme {
  background-color: var(--mat-sys-background);

  @include mat.theme(
    (
      color: (
        primary: blue-light.$primary-palette,
        tertiary: blue-light.$tertiary-palette,
        theme-type: dark,
      ),
    )
  );
}

.dark-theme {
  background-color: var(--mat-sys-background);

  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
    )
  );
}

.green-light-theme {
  background-color: var(--mat-sys-background);

  @include mat.theme(
    (
      color: mat.$green-palette,
    )
  );
}

.rose-dark-theme {
  background-color: var(--mat-sys-background);

  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$rose-palette,
      ),
    )
  );
}

.yellow-light-theme {
  background-color: var(--mat-sys-background);

  @include mat.theme(
    (
      color: mat.$yellow-palette,
    )
  );
}
