@use "@angular/material" as mat;
@use "./styles/colors.scss" as *;

html,
body {
  height: 100%;
}

// html {
//   @include mat.theme(
//     (
//       color: (
//         theme-type: dark,
//       ),
//     )
//   );
// }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-background);
}
