<svg
  [attr.width]="width"
  [attr.height]="height"
  xmlns="http://www.w3.org/2000/svg"
>
  <g id="line-1">
    <path
      id="p1"
      d="M0 200 L200 100"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="p2"
      d="M150 125 L150 180"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="flow-1"
      d="M0 200 L200 100 L150 125 L150 180"
      fill="none"
      stroke="none"
    />
    <circle r="4" fill="var(--mat-sys-primary-container)">
      <animateMotion dur="4s" repeatCount="indefinite">
        <mpath href="#flow-1" />
      </animateMotion>
    </circle>
  </g>
  <g id="line-2">
    <path
      id="p3"
      d="M0 500 L100 600"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="p4"
      d="M0 550 L200 500"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="p5"
      d="M100 525 L130 450"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="p6"
      d="M130 450 L200 420"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="p7"
      d="M100 600 L200 580"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="flow-2"
      d="M0 500 L100 600 L100 600 L200 580"
      fill="none"
      stroke="none"
    />
    <circle r="4" fill="var(--mat-sys-primary-container)">
      <animateMotion dur="4s" repeatCount="indefinite">
        <mpath href="#flow-2" />
      </animateMotion>
    </circle>
    <path
      id="flow-3"
      d="M0 550 L100 525 L130 450 L130 450 L200 420"
      fill="none"
      stroke="none"
    />
    <circle r="4" fill="var(--mat-sys-primary-container)">
      <animateMotion dur="5s" repeatCount="indefinite">
        <mpath href="#flow-3" />
      </animateMotion>
    </circle>
    <path id="flow-4" d="M0 550 L200 500" fill="none" stroke="none" />
    <circle r="4" fill="var(--mat-sys-primary-container)">
      <animateMotion dur="7s" repeatCount="indefinite">
        <mpath href="#flow-4" />
      </animateMotion>
    </circle>
  </g>
</svg>
