<svg
  [attr.width]="width"
  [attr.height]="height"
  xmlns="http://www.w3.org/2000/svg"
>
  <g id="line-1">
    <path
      id="p1"
      d="M0 200 L200 100"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <path
      id="flow-1"
      d="M0 200 L200 100 L150 125 L150 180"
      fill="none"
      stroke="none"
    />
    <path
      id="p2"
      d="M150 125 L150 180"
      fill="var(--mat-sys-primary-container)"
      stroke="var(--mat-sys-primary-container)"
      stroke-width="2"
    />
    <circle r="4" fill="var(--mat-sys-primary-container)">
      <animateMotion dur="4s" repeatCount="indefinite">
        <mpath href="#flow-1" />
      </animateMotion>
    </circle>
  </g>
</svg>
